input, textarea {
    font-size: 1.4rem !important;
    color: $cl-gray !important;
}
.text-inline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.h-240 {
    height: 24rem !important;
}

.bg-rgb-btn {
    background: linear-gradient(90deg, #0d85c7, #bf5da0) no-repeat;
}

// #hsForm_2951d792-bc88-4a45-8e1c-cf9a4af75518 {
//     .hs-form-field {
//         display: flex !important;
//     }
// }