input, textarea {
    font-size: 1.4rem !important;
    color: $cl-gray !important;
}
.text-inline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.w-22 {
    width: 18rem !important;
    @include mq_min_1024 {
        width: 22rem !important;
    }
}

.h-240 {
    height: 24rem !important;
}

.fz-2 {
    @include font(1.6rem, 500, 1.8);
    @include mq_min_1024 {
        font-size: 2rem;
    }
}

.bg-rgb-btn {
    background: linear-gradient(90deg, #0d85c7, #bf5da0) no-repeat;
}

.bg-purple {
    background: #8b8ebb !important;
}