/* ====== Start Update CSS - 09/09 ====== */

.custom-charts {
    .form-check-input {
        width: 1.6rem;
        height: 1.6rem;
        border: 2px solid #b4c4df;
    }
    .form-check-input:checked[type='radio'] {
        box-shadow: none;
        border-color: #dfe7f2 !important;
        background: #9a9a9a !important;
    }
    .progress {
        background-color: #dfe7f2;
    }
}

textarea::placeholder {
    color: #a1a0a0 !important;
}

.btn-add-test {
    padding: 0 1.25rem;
    @include font(1.5rem, 500, 1.5);
    color: #a1a0a0;
    cursor: pointer;
    user-select: none;
}

.btn-delete-test {
    user-select: none;
    cursor: pointer;
}

.rounded-8 {
    border-radius: 8px;
}

/* ====== End Update CSS - 09/09 ====== */
